* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: variables.$font-size-md;
  line-height: 1.5;
  color: variables.$color-black;
  background-color: variables.$color-gray-light;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}