@import '_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: $font-size-md;
  line-height: 1.5;
  color: $color-black;
  background-color: $color-gray-light;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}