.books-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$spacing-4;
  padding: variables.$spacing-6;

  &__search-options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: variables.$spacing-3;
  
    &__button {
      height: fit-content;
      padding: variables.$spacing-1 variables.$spacing-2;
      border-radius: 5px;
      border: 0;
      background-color: variables.$color-black;
      color: variables.$color-white;
      cursor: pointer;

      &:disabled {
        background-color: variables.$color-gray-dark;
        cursor: not-allowed;
      }
    }
  }

  &__content {
    width: 100%;

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: variables.$spacing-6;
    }
  }
}
