.book-card {
  display: flex;
  flex-direction: column;
  padding: variables.$spacing-3;
  box-shadow: 0px 0px 10px 2px gray;
  background-color: variables.$color-white;

  &__image {
    display: block;
    width: auto;
    height: 70%;
    max-height: 260px;
    margin: 0 auto variables.$spacing-3;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: self-start;

    &__header {
      margin-bottom: variables.$spacing-4;
  
      &__title {
        font-size: variables.$font-size-md;
        font-weight: bold;
        margin-bottom: variables.$spacing-2;
      }
  
      &__author {
        font-size: variables.$font-size-xs;
      }
    }
  }
} 