.book-card {
  display: flex;
  flex-direction: column;
  padding: variables.$spacing-3;
  box-shadow: 0px 0px 10px 2px gray;
  background-color: variables.$color-white;

  &__image {
    display: block;
    width: auto;
    height: 70%;
    max-height: 260px;
    margin: 0 auto variables.$spacing-3;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: self-start;

    &__header {
      margin-bottom: variables.$spacing-4;
  
      &__title {
        font-size: variables.$font-size-md;
        font-weight: bold;
        margin-bottom: variables.$spacing-2;
      }
  
      &__author {
        font-size: variables.$font-size-xs;
      }
    }

    &__favorite {
      font-size: variables.$font-size-3xl;
      background-color: transparent;
      line-height: 1;
      border: 0;
      cursor: pointer;
    }
  }

  &__view-more {
    display: block;
    font-size: variables.$font-size-md;
    color: variables.$color-blue;
    margin-left: auto;
    margin-top: auto;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
} 