.header {
  padding: variables.$spacing-3 variables.$spacing-6;
  background-color: variables.$color-black;
  text-align: center;

  &__logo {
    width: auto;
    height: variables.$spacing-12;
    filter: brightness(0) invert(1);
  }

  @include mixins.media-responsive(md) {
    text-align: left;
  }
}