.header {
  padding: $spacing-3 $spacing-6;
  background-color: $color-black;
  text-align: center;

  &__logo {
    width: auto;
    height: $spacing-12;
    filter: brightness(0) invert(1);
  }

  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}