.book-modal {
  display: flex;
  gap: variables.$spacing-6;

  &__information {
    width: 100%;
    position: relative;

    &__header {
      display: flex;
      align-items: center;
      gap: variables.$spacing-3;
      margin-bottom: variables.$spacing-6;

      &__title {
        font-size: variables.$font-size-3xl;
      }
    }

    &__details {
      &__text {
        font-size: variables.$font-size-lg;

        &__key {
          font-weight: bold;
          margin-right: variables.$spacing-2;
        }
      }
    }
  }
}