.books-actions {
  margin-bottom: variables.$spacing-6;

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: variables.$spacing-3;
    border-bottom: 1px solid variables.$color-gray-dark;
  
    &__total {
      &__text {
        font-weight: bold;
      }
    }
  
    &__actions {
      display: flex;
      gap: variables.$spacing-4;
  
      &__button {
        height: fit-content;
        padding: variables.$spacing-1 variables.$spacing-2;
        border-radius: 5px;
        border: 0;
        background-color: variables.$color-black;
        color: variables.$color-white;
        cursor: pointer;

        &:disabled {
          background-color: variables.$color-gray-dark;
          cursor: not-allowed;
        }
      }
    }
  }

  &__recent-viewed {
    display: flex;
    align-items: center;
    gap: variables.$spacing-3;
    border-bottom: 1px solid variables.$color-gray-dark;
    overflow: hidden;
    transition: all 1s ease-in-out;

    &__book-name {
      color: variables.$color-black;
      font-size: variables.$font-size-sm;
      font-weight: bold;
      text-decoration: underline;
      border: 0;
      cursor: pointer;
    }
  }
}