.books-actions {
  margin-bottom: variables.$spacing-6;

  &__bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: variables.$spacing-3;
    border-bottom: 1px solid variables.$color-gray-dark;
    gap: variables.$spacing-4;
  
    &__total {

      &__text {
        font-weight: bold;
      }
    }
  
    &__actions {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: variables.$spacing-4;

      @include mixins.media-responsive(xs) {
        flex-direction: row;
      }
    }

    @include mixins.media-responsive(xs) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__recent-viewed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: variables.$spacing-3;
    border-bottom: 1px solid variables.$color-gray-dark;
    overflow: hidden;
    transition: all 1s ease-in-out;

    &__book-name {
      color: variables.$color-black;
      font-size: variables.$font-size-sm;
      font-weight: bold;
      text-decoration: underline;
      border: 0;
      cursor: pointer;
    }
  }
}